.Button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    white-space: nowrap;
}

.Button_default {
    background-color: #a0eeec;
    color:black;
}

.Button_positive {
    background-color: #e80ce8;
    color: white;
}

.Button_negative {
    background-color: #30e826;
    color: white;
}